/* .brand-icon img {
    width: 25px;
    height: 25px;
    margin-top: -5px;
    border-radius: 50%;
    margin-left: -5px;
} */

.brand-gradient {
    background: #155dba;
    background: -webkit-linear-gradient(to top, #c607b3, #e6f423);
    background: linear-gradient(to top, #c607b3, #e6f423);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 1.7px;
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}
.full-width{
    width: 100%;
    height: auto;
}

.feature-item img{
    width: 50px;
    height: auto;
}

.subscribe{
    background-image: url(img/subscribe.jpg);
    background-position: center;
    background-size: cover;
}

.footer-gradient{
    background-color: #91979767;
}

.blur-filter{
    backdrop-filter: blur(8px);
    background-color: rgb(255 255 255 / 30%);
}

.custom-button{
    --bs-btn-bg: rgb(220, 68, 237);
    --bs-btn-color: white;
    --bs-btn-hover-bg: rgb(158, 2, 176);
    --bs-btn-hover-color: white;
}